<div class="chat-header">
  <h1 class="chat-room-name">hogefuga</h1>
  <a class="destroy-chat-room" href=#>チャットを終了する</a>
</div>

<div class="my-messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: 'message-post-form-unit'}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'message-post-form', placeholder: 'Type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-send-btn' %>
<% end %>